<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="website which provide list restaurant with PWA">
    <link rel="icon" href="icon/favicon.ico" />
    <link rel="apple-touch-icon" href="icon/icon-192x192.png" />
    <title>Foodpedia - Situs Pencari Restauran Favorite Anda</title>
    <meta name="theme-color" content="#eb5e0b">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css"/>
</head>

<body>
    <a href="#maincontent" class="skip-link">Skip to content</a>
    <div class="wrapper">
        <navigation-component></navigation-component>
        
        <main id="maincontent"></main>
        
        <footer>
            <span>Copyright &#169; 2021 - FoodPedia</span>
        </footer>
    </div>
    
</body>

</html>